<div class="page-header">
  <h1>Crawler</h1>
</div>

<form class="crawler" method="get" action="<%=crawl_path%>">
  <input type="text" class="input-medium", placeholder="url" name="url">
  <button type="submit" class="btn">Crawl</button>
</form>
