<div class="row">
  <div class="span12">
    <div class="hero-unit">
      <h1>
        SearchBox.io Sample Rails Application.</h1>
      <br/>

      <p>
        This example illustrates basic search features of SearchBox.io (ElasticSearch as
        service).</p>

      <p>
        Each CRUD operation on documents is reflected to search index in real time.</p>

      <p>
        To test SearchBox.io's search features navigate to Manage Documents, create a new
        document and search it.</p>

      <p>
        "Reindex All" at Manage Documents view will index all documents in database in one shot(Paging can be used
        if required).
        It will delete old index if exists, create a new index and it will index all documents at database with Bulk
        API.
      </p>

      <p>
        Sample application is using <a href="https://github.com/karmi/tire">Tire</a> Ruby ElasticSearch client to
        integrate with SearchBox.io.
      </p>

    </div>
  </div>
</div>